<div id="header">
  <p id="title">
    TP Super Heroes
  </p>
  <div class="row">
    <div class="col-sm-6" style="position: relative">
      <p id="date">31/12/2018</p>
    </div>
    <div class="col-sm-6">
      <div class="formAddNew">
        <p class="addVillain">Add</p>
        <select class="addVillain" (change)="onSelectVillain($event.target.value)">
        <option *ngFor="let nb of villains" [value]="nb.value">
            {{ nb.value }}
          </option>
        </select>
        <p class="addVillain">villains in</p>
        <select class="addVillain" (change)="onSelectCityVillain($event.target.value)">
          <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
        <button class="btn btn-primary" (click)="addVillains()">Add villains</button>
      </div>
      <div class="formAddNew">
        <p class="addHero">Add a new hero named</p>
        <input class="addHero" type="text" #heroName placeholder="name">
        <p class="addHero">in</p>
        <select class="addHero" (change)="onSelectCityHero($event.target.value)">
          <option *ngFor="let city of cities" [value]="city.name">
            {{ city.name }}
          </option>
        </select>
        <button class="btn btn-primary" (click)="addHero(heroName.value)">Add hero</button>
      </div>
    </div>
  </div>
</div>
