#header {
  padding: 15px;
}

#title {
  text-align: center;
  font-size: xx-large;
  color: #4d70be;
  text-shadow: 5px 10px 18px #515952;
  margin: 0;
}

.btn-primary {
  background-color: #4d70be;
  box-shadow: 5px 10px 18px #515952;
  margin-left: 15px;
}

#date {
  font-size: small;
  color: #4d70be;
  margin: 0;
}

.addVillain {
  float: left;
  margin: 5px;
}
select {
  border: 2px solid #4d70be;
  border-radius: 5px;
}
