.row {
  margin: 0;
}

#page {
  background-color: #2b2b2b !important;
  height: -webkit-fill-available;
}

#body {
  margin: 50px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll #2b2b2b;
}
#map {
  height: auto;
  min-height: 600px;
}

#divFooter {
  background-color: #8e8787;
  bottom: 0;
  width: 100%;
  margin: 0;
}
#divHeader {
  background-color: #8e8787;
}
#header, #footer {
  padding: 0;
}
