.row {
  margin: 0;
}

#page {
  background-color: #2b2b2b;
  height: -webkit-fill-available;
}

#body {
  margin: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

#divFooter {
  background-color: #8e8787;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0;
}
#divHeader {
  background-color: #8e8787;
}
#header, #footer {
  padding: 0;
}
