.legends {
  margin-top: 15px;
  height: auto;
}

#heroes {
  min-height: 20%;
}

.title {
  text-align: center;
  font-size: x-large;
  color: #4d70be;
}

.perso {
  text-align: center;
  margin: 0;
  padding: 0;
}

.case {
  padding: 8px !important;
}
.tableHeroes {
  width: 33.3%;
}
.tableVillains {
  width: 33.3%;
}
