<div class="legends" id="heroes">
  <p class="title">Heroes infos</p>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th class="case tableHeroes">Name</th>
      <th class="case tableHeroes">Position</th>
      <th class="case tableHeroes">Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hero of heroes">
      <td class="case">{{ hero.name }}</td>
      <td class="case">{{ show(hero.pos) }}</td>
      <td class="case">{{ hero.score }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="legends">
  <p class="title">Cities infos</p>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th class="case tableVillains">City</th>
      <th class="case tableVillains">Number of villains</th>
      <th class="case tableVillains">Number of mounts</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let city of citiesInfo">
      <td class="case">{{ city.name }}</td>
      <td class="case">{{ city.score }}</td>
      <td class="case">{{ city.mountsCount}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <p class="title">Heroes color status</p>
  <ul>
    <li>
      <div class="input-color">
        <p class="color-legends"> Hero don't move</p>
        <div class="color-box" style="background-color: #ff6800;"></div>
      </div>
    </li>
    <li>
      <div class="input-color">
        <p class="color-legends">Hero travel without mount</p>
        <div class="color-box" style="background-color: #ff000e;"></div>
      </div>
    </li>
    <li>
      <div class="input-color">
        <p class="color-legends">Hero travel with mount</p>
        <div class="color-box" style="background-color: #8607ff;"></div>
      </div>
    </li>

  </ul>
</div>
